<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.lds.springcloud.dao.IUserDAO">

    <insert id="create" parameterType="com.lds.springcloud.entities.User" useGeneratedKeys="true" keyProperty="userId">
        insert into t_user(user_id, username, password, role)  values(#{userId}, #{username}, #{password}, #{role});
    </insert>
    <update id="editUser" parameterType="com.lds.springcloud.entities.User">
        update t_user
        set role=#{role}
        where user_id = #{userId}
    </update>

    <delete id="deleteUser" parameterType="int">
        delete from t_user where user_id = #{id};
    </delete>

    <resultMap id="BaseResultMap" type="com.lds.springcloud.entities.User">
        <id column="user_id" property="userId" jdbcType="INTEGER"/>
        <id column="username" property="username" jdbcType="VARCHAR"/>
        <id column="password" property="password" jdbcType="VARCHAR"/>
        <id column="role" property="role" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="queryById" parameterType="int" resultMap="BaseResultMap">
        select * from t_user where user_id=#{id};
    </select>

    <select id="queryByUsernameAndPassword" parameterType="com.lds.springcloud.entities.User" resultMap="BaseResultMap">
        select * from t_user where username=#{username} AND password=#{password};
    </select>

    <select id="queryAllUser" resultMap="BaseResultMap">
        select * from t_user;
    </select>

    <select id="queryUserByQuery" resultMap="BaseResultMap">
        SELECT * FROM t_user WHERE username LIKE #{query} OR user_id LIKE #{query} LIMIT #{pageNum},#{pageSize}
    </select>

    <select id="totalOfUsers" resultType="java.lang.Integer">
        select count(*) from t_user
    </select>
    <select id="getSnoByUid" resultType="java.lang.Integer">
        select sno from t_student where user_id = #{uid}
    </select>
    <select id="getTnoByUid" resultType="java.lang.Integer">
        select tno from t_teacher where user_id = #{uid}
    </select>
    <!--SELECT * FROM t_user WHERE username LIKE '1%' OR user_id LIKE '1%' LIMIT 0,2-->
</mapper>